name: "Hello World"
on:
    push:
        branches:
            - main
            - build
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: "Build the project"
              run: echo "Building the project..."
